<!DOCTYPE HTML>
<html lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="/styles.css" />
  <meta charset="UTF-8">
  <title>Is There A White Sox Game Today?</title>

  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-35020424-1']);
    _gaq.push(['_trackPageview']);

    (function() {
     var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
     ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
     var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
     })();

   </script>
</head>
<body>

  <div class="center"  id="today">Today is <%= DateTime.now.in_time_zone('Central Time (US & Canada)').strftime("%A, %B %-d, %Y") %></div>
  <h1 class="center">Is There A White Sox Game Today?</h1>
  <div class="center" id="isthere">
    <%= if @today then
                           "YES at %{time}" % {:time => @today.dtstart.in_time_zone('Central Time (US & Canada)').strftime("%l:%M %p")}
        else "NO" end%>
      </div>

  <br /> <br /> <br />
  <div class="center"><a href="/about">About this Site</div>


</body>
</html>
